---
import BaseHead from '../components/BaseHead.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components'
import profilePicture from '../assets/profile-picture.png'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="text-evening">
		<main class="bg-midnight min-h-dvh min-w-screen flex flex-col">
            <section class="flex flex-col min-h-dvh justify-center items-center">
                <Image src={profilePicture} alt="A photo of Komang David" class="w-32 rounded-full mb-8" style="box-shadow: 0 0 160px rgba(255, 255, 255, 0.3);" />
			    <h1 class="text-white text-3xl font-bold mb-4">Komang David</h1>
                <div class="w-16 h-px mb-4" style="background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.15), transparent);"></div>
                <h2 class="text-xl mb-8">Software Engineer</h2>
                <p class="max-w-lg text-center mb-16 mx-4">Building reliable software with Go, Typescript, and Python. Previously at XLSMART.</p>
                <div class="flex gap-8">
                    <a href="https://linkedin.com/in/komangdavid" target="_blank" rel="noopener noreferrer" class="bg-night p-2 scale-150 rounded-lg transition-all duration-300 hover:brightness-200" title="LinkedIn">
                        <Icon name="simple-icons:linkedin"/>
                    </a>
                    <a href="https://github.com/kmdavidds" target="_blank" rel="noopener noreferrer" class="bg-night p-2 scale-150 rounded-lg transition-all duration-300 hover:brightness-200" title="GitHub">
                        <Icon name="simple-icons:github"/>
                    </a>
                    <a href="mailto:kmdavidds@gmail.com" class="bg-night p-2 scale-150 rounded-lg transition-all duration-300 hover:brightness-200" title="Email">
                        <Icon name="simple-icons:gmail"/>
                    </a>
                    <a href="/Komang David Dananjaya Suartana - Resume.pdf" target="_blank" class="bg-night p-2 scale-150 rounded-lg transition-all duration-300 hover:brightness-200" title="Resume">
                        <Icon name="lucide:file-text"/>
                    </a>
                </div>
            </section>
		</main>
	</body>
</html>
